body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/pencils.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    padding: 2rem;
}
 
h2, 
h3 {
    color: whitesmoke;
}

h1 {    
    margin: auto;    
    font-family: 'Abril Fatface', cursive;
    color: rgb(236, 236, 236);
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    font-size: 2.8rem;
    border-radius: 2rem;
    text-shadow: 2px 1px 50px rgb(0, 0, 0);
}

h2 {
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0.5rem;
}

h3 {
    font-weight: 200;
    margin-top: 0.5rem;
}

span,
a {
    color: rgb(140, 198, 255);
    font-size: 1.5rem;
    font-weight: 500;
}
.presentation {
    margin: auto;
    padding: 0.5rem;
    max-width: 60rem;
}
.presentation h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1rem;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 100;
    border-radius: 2rem;
    width: 20rem;
    text-shadow: 2px 1px 15px rgba(0, 0, 0, 0.226);
}

.contenu {
    background-image: linear-gradient(rgba(255, 255, 255, 0.384), rgba(175, 175, 175, 0.178)), url(img/paper.jpg);
    margin: auto;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0.3rem;
}

.home,
.home img {
    height: 3rem;
    width: 3rem;
}
.home p {
    margin: 0;
}
.home:hover p {
    transform-origin: left; 
    animation: tombe 200ms linear;
    animation-fill-mode: forwards;
}
.home:active {
    transform: scale(0.9);
}
.home {
    position: absolute;
    text-align: center;
    color: whitesmoke;
}
.delete {
    margin-left: 0.2rem; 
}
.deleteimg {
    height: 0.8rem;
    width: 1rem;
    padding: 0.1rem 0.1rem 0 0.1rem;
}
input[type="text"] {
    width: 12rem;
    height: 1.5rem;
    font-size: 1.05rem;
    border: none;
    border-radius: 0.2rem;
    margin: 1rem 0 0 0 ;
    padding: 0.2rem;
    color: rgb(82, 82, 82);
}
button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin-top: 0.2rem;
    background-color: beige;
    font-size: 1rem;
}
button:hover {
    background-color: rgba(245, 245, 220, 0.555);
}
button:active {
    transform: scale(0.98);
}

#papers {
    margin: 1rem auto 1.5rem auto;
    padding: 3rem;
    font-family: monospace;
    font-size: 2rem;
    text-align: justify;
    width: 30%;
    height: fit-content;
    line-height: 2.2rem;
    transition: 1s;

    background-color: beige;
    border-radius: 0 2rem 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.048);
}

@media screen and (max-width: 640px) {
    html {
        font-size: 0.8rem;
    }
    #papers {
        padding: 1.5rem;
        width: 70%;
    }
    h1 {
        font-size: 2.3rem;
    }
}

@keyframes tombe {
    0% {
        transform: rotate(0deg);     
    }
    30% {
        transform-origin: center;
        transform: rotate(10deg) scale(1.3); 
    }
    60% {   
        transform-origin: center;
        transform: rotate(-20deg) scale(1.3);     
    }
    90% {   
        transform-origin: center;
        transform: rotate(20deg) scale(1.3);     
    }
    100% {
        transform: scale(1.5);
        transform-origin: center;
    }
}